.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  cursor: pointer;
  font-style: inherit;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.link {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.title {
  margin: 0px;
  padding: 0px;
}

.part {
  margin: 0px;
  padding: 0px;
}

.adress {
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0px auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.modal-btn {
  min-width: 200px;
  margin-top: 0px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: #ffffff;
  background: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  background: #188ce8;
}

.hero .modal-btn {
  margin-bottom: 30px;
}

.filters__item .modal-btn {
  min-width: 84px;
  margin-bottom: 15px;
  padding: 6px 18px;
  border: 1px solid transparent;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  transition-property: background, color, box-shadow;
}

.filters__item .modal-btn:hover, .filters__item .modal-btn:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.subscribe-form .modal-btn {
  position: relative;
  padding-left: 2px;
  fill: #ffffff;
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.167;
  color: #212121;
}

.logo__name {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header .logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.footer .logo {
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  color: #ffffff;
}

.social-list {
  display: flex;
  justify-content: center;
}

.footer .social-list {
  margin-bottom: 60px;
}

.social-list .social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list .social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .social-list__link:hover, .social-list .social-list__link:focus {
  background-color: #2196f3;
}

.social-list .social-list__link:hover .social-list__icon,
.social-list .social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.footer .social-list .social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list .social-list__link:hover, .footer .social-list .social-list__link:focus {
  background-color: #2196f3;
}

.social-list .social-list__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list .social-list__icon {
  fill: #ffffff;
}

.header {
  background-color: #ffffff;
  border: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .site-nav__link,
  .contacts {
    display: none;
  }
  .menu-btn,
  .close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .menu-btn__icon {
    width: 40px;
    height: 40px;
    fill: #000000;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-btn__icon:hover, .menu-btn__icon:focus {
    fill: #2196f3;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100vh;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateX(-50%) translateY(-100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow: scroll;
  }
  .mobile-menu.is-open {
    transform: translateX(-50%) translateY(0%);
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .mobile-menu__close-btn:hover .close-btn__icon,
  .mobile-menu__close-btn:focus .close-btn__icon {
    fill: #2196f3;
  }
  .close-btn__icon {
    fill: #212121;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-nav {
    margin-bottom: 302px;
  }
  .mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-nav__link {
    display: block;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-nav__link:hover, .mobile-nav__link:focus {
    color: #2196f3;
  }
  .mobile-nav__link--current {
    color: #2196f3;
  }
  .mobile-contacts__item {
    margin-bottom: 32px;
  }
  .mobile-contacts__link {
    margin-bottom: 64px;
    font-size: 28px;
    font-weight: 500;
    line-height: 0.857;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-contacts__link:hover, .mobile-contacts__link:focus {
    color: #2196f3;
  }
  .mobile {
    display: flex;
    flex-wrap: wrap;
  }
  .mobile__social-item:not(:last-child) {
    margin-right: 10px;
  }
  .mobile__social-item:not(:last-child)::after {
    content: "";
    top: 0;
    left: 0;
    width: 22px;
    height: 0px;
    margin-left: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
  .mobile__social-link {
    font-size: 18;
    font-weight: 500;
    line-height: 1.222;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

@media screen and (min-width: 480px) {
  .mobile-contacts__link {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.176;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .site-nav {
    display: flex;
    align-items: center;
  }
  .site-nav__list {
    display: flex;
  }
  .site-nav__item {
    padding: 32px 0;
  }
  .site-nav__item + .site-nav__item {
    margin-left: 50px;
  }
  .site-nav__link {
    padding: 32px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: #2196f3;
  }
  .site-nav__link--current {
    position: relative;
    padding: 32px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .site-nav__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1%;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
  .contacts__link {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: #757575;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: #2196f3;
  }
  .contacts__link--mail {
    padding-top: 21px;
  }
  .contacts__link--tel {
    padding-bottom: 21px;
  }
  .contacts__icon {
    margin-right: 8px;
    fill: #757575;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover .contacts__icon,
  .contacts__link:focus .contacts__icon {
    fill: #2196f3;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
  .contacts__item + .contacts__item {
    margin-left: 30px;
  }
  .contacts__link {
    padding: 32px 0;
  }
}

/*  MODAL WINDOW */
.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.hero-modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 95%;
  padding: 40px;
  max-width: 450px;
  max-height: 609px;
  overflow: scroll;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  left: 91%;
  top: 2%;
  width: 30px;
  height: 30px;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
  border: #2196f3;
}

.close-icon {
  fill: #000000;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: #2196f3;
}

/* END MODAL WINDOW */
/* CONTACT FORM */
.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-title {
  margin-top: 2px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-massage {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-massage:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form-massage::placeholder {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-label {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .modal-form-icon {
  fill: #2196f3;
}

.modal-form-label-policy {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
}

.modal-form-label-policy::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url(../images/icons/Vector.svg);
  border-radius: 2px;
  transition-property: background-image, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check-policy:checked + .modal-form-label-policy::before {
  background-image: url(../images/icons/check.svg);
}

.modal-form-check-policy:focus + .modal-form-label-policy::before {
  box-shadow: 0 0 0 2px #2196f3;
}

.form-contract-link {
  color: #2196f3;
  margin-left: 5px;
}

.modal-btn {
  align-self: center;
  min-height: 50px;
}

@media screen and (min-width: 1200px) {
  .hero-modal-window {
    height: 100%;
    overflow: hidden;
    max-width: 528px;
    max-height: 581px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-index/hero/img-mobile.jpg");
  background-color: rgba(47, 48, 58, 0.4);
}

.hero__title {
  margin: 0px auto 30px;
  max-width: 360px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-index/hero/img-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-color: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-index/hero/img-tablet.jpg");
    background-color: rgba(47, 48, 58, 0.4);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-index/hero/img-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-index/hero/img-desktop.jpg");
    background-color: rgba(47, 48, 58, 0.4);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-index/hero/img-desktop@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.364;
    max-width: 696px;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: #212121;
}

.features__diskription {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  background-color: #ffffff;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: 354px;
  }
  .features__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .features__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features__item {
    width: 270px;
    margin-bottom: 0;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about__title {
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.about__list {
  display: flex;
  justify-content: space-between;
}

.about__item {
  position: relative;
}

.about__text {
  position: absolute;
  top: 76%;
  padding-top: 27px;
  padding-bottom: 27px;
  min-width: 100%;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  padding-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.179;
  color: #212121;
  text-align: center;
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

.team__name {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.357;
  text-align: center;
  color: #212121;
}

.team__profession {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.188;
  text-align: center;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: 354px;
    height: 536px;
  }
  .team__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .team__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    max-width: 270px;
    height: 428px;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
  .team__item .team__content {
    padding: 30px 32px;
  }
  .team__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
  }
}

.clients__title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.179;
  text-align: center;
  color: #212121;
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .clients__item {
    width: 100%;
    height: 90px;
  }
  .clients__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .clients__item {
    height: 90px;
    width: 210px;
  }
  .clients__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients__item:nth-last-child(n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    height: 90px;
    width: 226px;
  }
  .clients__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients__item:nth-last-child(n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    height: 90px;
    width: 170px;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #2f303a;
}

.address__list {
  margin-bottom: 60px;
}

.address__link:not(:last-child) {
  margin-bottom: 8px;
}

.address__link {
  display: block;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #188ce8;
}

.address__link--white {
  color: #ffffff;
}

.footer__thumb {
  margin-bottom: 60px;
}

.subtitle {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-form__input {
  width: 100%;
  max-height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: white;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe-form__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.modal-btn__icon {
  position: absolute;
  top: 50%;
  left: 76%;
  transform: translateY(-50%);
  cursor: pointer;
  fill: var(--primary-white-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form__input {
    display: block;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
  .footer-contacts {
    margin-right: 70px;
  }
  .subscribe-email {
    margin-left: auto;
  }
  .subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .subscribe-form__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
  .social-links,
  .address {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */