.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  cursor: pointer;
  font-style: inherit;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.link {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

.title {
  margin: 0px;
  padding: 0px;
}

.part {
  margin: 0px;
  padding: 0px;
}

.adress {
  font-style: normal;
}

.container {
  width: 100%;
  padding: 0 15px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0px auto;
  }
  .hero .container {
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .hero .container {
    max-width: 696px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.modal-btn {
  min-width: 200px;
  margin-bottom: 30px;
  margin-top: 0px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: #ffffff;
  background: #2196f3;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  background: #188ce8;
}

.filters__item .modal-btn {
  min-width: 84px;
  margin-bottom: 15px;
  padding: 6px 18px;
  border: 1px solid transparent;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  transition-property: background, color, box-shadow;
}

.filters__item .modal-btn:hover, .filters__item .modal-btn:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.site-nav__logo {
  font-family: Raleway;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.167;
  color: #212121;
}

.site-nav__logo:focus, .site-nav__logo:hover {
  color: red;
}

.site-nav__logo--blue {
  color: #2196f3;
}

@media screen and (min-width: 320px) {
  .site-nav__logo {
    padding: 16px 0;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__logo {
    margin-right: 93px;
  }
}

.footer__logo {
  color: #ffffff;
}

.logo__name {
  color: #2196f3;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu .social-list {
  padding-top: 64px;
}

.mobile-menu .social-list__item:not(:last-child) {
  margin-right: 20px;
}

.mobile-menu .social-list__link {
  font-size: 18;
  font-weight: 500;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.team .social-list {
  justify-content: center;
  align-items: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.social-list__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.header {
  background-color: #ffffff;
  border: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    display: none;
  }
  .contacts {
    display: none;
  }
  .menu-btn {
    background-color: transparent;
    border: none;
    padding: 10px 0;
  }
  .menu-btn__icon {
    width: 40px;
    height: 40px;
    fill: #000000;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateX(-50%) translateY(-100%);
    transition: transform 500ms linear;
  }
  .mobile-menu.is-open {
    transform: translateX(-50%) translateY(0%);
  }
  .mobile-menu__btn {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .mobile-menu__icon {
    fill: #212121;
  }
  .mobile-contacts {
    padding-top: 302px;
  }
  .mobile-nav__item:not(:last-child),
  .mobile-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-nav__link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .mobile-nav__link:hover, .mobile-nav__link:focus {
    color: #2196f3;
  }
  .mobile-contacts__link--tel {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .mobile-contacts__link--mail {
    font-size: 28px;
    font-weight: 500;
    line-height: 0.857;
    letter-spacing: 0.02em;
    color: #757575;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .site-nav {
    display: flex;
    align-items: center;
  }
  .site-nav__list {
    display: flex;
  }
  .site-nav__item {
    padding: 32px 0;
  }
  .site-nav__item + .site-nav__item {
    margin-left: 50px;
  }
  .site-nav__link {
    padding: 32px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: #2196f3;
  }
  .site-nav__link--current {
    position: relative;
    padding: 32px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .site-nav__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1%;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
  .contacts__link {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: #757575;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: #2196f3;
  }
  .contacts__link--mail {
    padding-top: 21px;
  }
  .contacts__link--tel {
    padding-bottom: 21px;
  }
  .contacts__icon {
    margin-right: 8px;
    fill: #757575;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover .contacts__icon,
  .contacts__link:focus .contacts__icon {
    fill: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
  .contacts__item + .contacts__item {
    margin-left: 30px;
  }
  .contacts__link {
    padding: 32px 0;
  }
}

/*  MODAL WINDOW */
.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.hero-model-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  left: 490px;
  top: 8px;
  width: 30px;
  height: 30px;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: var(--black-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: var(--accent-color);
}

/* END MODAL WINDOW */
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-index/hero/img-mobile.jpg");
  background-color: rgba(47, 48, 58, 0.4);
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-index/hero/img-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-color: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-index/hero/img-tablet.jpg");
    background-color: rgba(47, 48, 58, 0.4);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-index/hero/img-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0px;
    max-width: 100%;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-index/hero/img-desktop.jpg");
    background-color: rgba(47, 48, 58, 0.4);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img-index/hero/img-desktop@2x.jpg");
  }
}

.hero__title {
  margin: 0px auto 30px;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.364;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .features__item {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    max-width: 270px;
  }
}

.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__diskription {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  background-color: #ffffff;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about__title {
  margin-bottom: 50px;
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.about__list {
  display: flex;
  justify-content: space-between;
}

.about__item {
  position: relative;
}

.about__text {
  position: absolute;
  top: 76%;
  padding-top: 27px;
  padding-bottom: 27px;
  min-width: 100%;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--secondary-background-color);
}

.team__title {
  padding-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.179;
  color: #212121;
  text-align: center;
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:not(:last-child) {
  margin-bottom: 30px;
}

.team__content {
  padding: 30px 42px 24px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  text-align: center;
  color: #212121;
}

.team__profession {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.188;
  text-align: center;
  color: #757575;
}

@media screen and (min-width: 480px) {
  .team__item {
    max-width: 450px;
  }
  .team__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.188;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
  .team__item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    max-width: 270px;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
  .team__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
  }
}

.clients__title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.179;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.167;
  }
}

@media screen and (min-width: 480px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.clients__item {
  width: 100%;
  height: 90px;
}

@media screen and (max-width: 479px) {
  .clients__item + .clients__item {
    margin-top: 30px;
  }
}

@media screen and (min-width: 480px) {
  .clients__item {
    width: 210px;
    height: 90px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    height: 90px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #2f303a;
}

.footer link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__list {
  margin-bottom: 60px;
}

.adress__link {
  display: block;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  color: rgba(255, 255, 255, 0.6);
}

.adress__link:hover, .adress__link:focus {
  color: #188ce8;
}

.adress__link--white {
  color: #ffffff;
}

.form__appeal,
.footer__appeal {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */