:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-background-color: #2f303a;
  --hero-background-color: #c4c4c4;
  --secondary-background-color: #f5f4fa;
  --black-color: #000000;
  --secondary-accent-color: #188ce8;
  --border-line-color: #ececec;
  --bold-font-weight: 700;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --black-font-weight: 900;
  --primery-letter-spacing: 0.03em;
  --first-gradient-color: rgba(47, 48, 58, 0.4);
  --second-gradient-color: ;
  --primary-icons-color: #afb1b8;
}

/* утилиты */

body {
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-weight: var(--bold-font-weight);
  letter-spacing: var(--primery-letter-spacing);
}
img {
  display: block;
}

.button {
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0px auto;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.link {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
.title {
  margin: 0px;
  padding: 0px;
}

.part {
  margin: 0px;
  padding: 0px;
}
/* End утилиты */

/* <<<<<<<< COMPONENTS >>>>>>>> */

.studio-logo {
  margin-right: 93px;
  padding: 0px;

  color: var(--black-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.38;
}

.studio-logo:focus {
  color: red;
}

.studio-logo-web {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list-item {
  width: 44px;
  height: 44px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-link-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item:hover,
.social-link-item:focus {
  background-color: var(--accent-color);
}

.social-link-icon {
  fill: var(--primary-icons-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item:hover .social-link-icon,
.social-link-item:focus .social-link-icon {
  fill: var(--primary-white-color);
}

/* <<<<<<<< END COMPONENTS >>>>>>>> */

/* <<<<<<<< HEADER >>>>>>>> */

.header {
  border-bottom: 1px solid var(--border-line-color);
  background-color: var(--primary-white-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav .link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main-nav .studio-logo {
  padding: 0px;
}

.main-nav .item + .item {
  margin-left: 50px;
}

.site-nav {
  display: flex;
}

.nav-link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--secondary-text-color);
  font-weight: var(--medium-font-weight);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-link-current {
  position: relative;
  display: block;

  color: var(--accent-color);
  font-weight: var(--medium-font-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link-current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts-mail {
  min-width: 161px;
}

.header-contacts-tel {
  min-width: 141px;
}

.header-contact {
  display: flex;
  align-items: center;
  width: 100%;

  color: var(--primary-text-color);
  font-weight: var(--medium-font-weight);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

.header-contacts .icon {
  margin-right: 10px;
  fill: currentColor;
}

/* <<<<<<<<END HEADER >>>>>>>> */

/* <<<<<<<< HERO >>>>>>>> */

.main-hero {
  max-width: 1600px;
  height: 600px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/images-index/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-hero .container {
  max-width: 696px;
  text-align: center;
  /* margin-top: 0px; */
}

.hero-title {
  margin-bottom: 30px;
  margin-top: 0px;

  color: var(--primary-white-color);
  font-weight: var(--black-font-weight);
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 30px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: var(--bold-font-weight);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;

  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background: var(--secondary-accent-color);
}

/* <<<<<<<< END HERO >>>>>>>> */

/* <<<<<<<< FEATURES >>>>>>>> */

.features {
  padding-top: 94px;
}
.features > .container {
  max-height: 251px;
}
.features-items {
  display: flex;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-item {
  display: flex;
  flex-direction: column;
}

.features-icon-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.features-title {
  color: var(--secondary-text-color);
  margin: 0px;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

.features-text {
  margin: 0px;
  font-size: 14px;
  line-height: 1.71;
  font-weight: var(--regular-font-weight);
}

/* <<<<<<<< ABOUT US >>>>>>>> */

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-title {
  margin-bottom: 50px;

  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.16;

  text-align: center;
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-image {
  position: relative;
}

.about-text {
  position: absolute;
  top: 76%;

  padding-top: 27px;
  padding-bottom: 27px;
  min-width: 100%;

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/* <<<<<<<< END ABOUT US >>>>>>>> */

/* <<<<<<<< TEAM >>>>>>>> */

.team {
  background-color: var(--secondary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-content {
  padding: 30px 32px;
}

.team-title {
  margin-bottom: 50px;

  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-item {
  min-width: 270px;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-name {
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: var(--medium-font-weight);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-profession {
  margin-bottom: 16px;
  text-align: center;

  color: var(--primary-text-color);
  font-weight: var(--regular-font-weight);
  font-size: 16px;
  line-height: 1.17;
}

/* <<<<<<<< END TEAM >>>>>>>> */

/* CLIENTS */

.clients .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.client-list {
  width: 170px;
  height: 90px;
}

.client-link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link-list:hover,
.client-link-list:focus {
  border: 1px solid var(--accent-color);
}

.client-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--primary-icons-color);
}

.client-link-list:hover .client-icon,
.client-link-list:focus .client-icon {
  fill: var(--accent-color);
}

/* <<<<<<<< FOOTER >>>>>>>> */

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer .studio-logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0px;

  color: var(--primary-white-color);
}

.address {
  display: flex;
  max-width: 231px;
  font-style: normal;
  flex-direction: column;
}

.address-name {
  color: var(--primary-white-color);
  font-weight: var(--regular-font-weight);
  font-size: 14px;
  line-height: 1.7;
}

.link-contact {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: var(--regular-font-weight);
  line-height: 1.71;
  letter-spacing: var(--letter-spacing);
}

.address .link:not(:last-child) {
  margin-bottom: 9px;
}

.footer .link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.address-content {
  margin-right: 70px;
}

.footer-social-link-content {
  min-width: 206px;
}

.social-link-title {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer .social-link-item {
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-link-item:hover,
.social-link-item:focus {
  background-color: var(--accent-color);
}

.footer-list-icon {
  fill: var(--primary-white-color);
}

.footer-form-subscribe {
  min-width: 570px;
  min-height: 86px;
  margin-left: 93px;
  /* outline: 1px solid seashell; */
}

.footer-form-title {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: var(--bold-font-weight);
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-subscribe-form {
  position: relative;
  display: flex;
}

.subscribe-form-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 1.25;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--primary-background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
}

.subscribe-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form-btn {
  min-width: 200px;
  min-height: 50px;
  padding-left: 29px;
  padding-right: 62px;

  letter-spacing: 0.06em;
  font-weight: var(--bold-font-weight);
  font-size: 16px;
  line-height: 1.87;
  text-align: justify;
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-btn:focus,
.subscribe-form-btn:hover {
  background-color: var(--secondary-accent-color);
}

.subscribe-form-icon {
  position: absolute;
  top: 50%;
  left: 91%;
  transform: translateY(-50%);
  cursor: pointer;

  fill: var(--primary-white-color);
}

/* <<<<<<<< END FOOTER >>>>>>>> */

/* <<<<<<<< PORTFOLIO >>>>>>>> */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters-items {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}
.modal-btn {
  padding: 6px 18px;
  min-width: 84px;
  border: 1px solid transparent;

  color: var(--secondary-text-color);
  background: var(--secondary-background-color);
  border-radius: 4px;
  font-style: normal;
  font-weight: var(--medium-font-weight);
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: var(--primery-letter-spacing);

  transition-property: background, color, border-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background: var(--accent-color);
  color: var(--primary-white-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-link-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0px;
  padding: 0px;
}

.portfolio-list {
  display: block;
  transition-property: border-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item {
  margin: 0px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 0px;
  max-width: 370px;
  background: var(--primary-white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio-item:nth-child(3n + 3) {
  margin-right: 0px;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-img {
  margin: 0px;
  padding: 0px;
}
.text-content {
  min-width: 322px;
  padding: 20px 24px;
}

.portfolio-name-title {
  margin-bottom: 4px;
  min-width: 322px;
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-name-product {
  color: var(--primary-text-color);
  font-style: var(--regular-font-weight);
  font-weight: var(--regular-font-weight);
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-link-box {
  width: 100%;
  height: 100%;
}

.overlay {
  position: relative;
  max-width: 370px;
  height: 294px;

  overflow: hidden;
}
.portfolio-list:hover .overlay-text {
  transform: translatey(0%);
  opacity: 1;
}

.overlay-text {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translatey(100%);
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  font-weight: var(--regular-font-weight);
  font-size: 18px;
  line-height: 1.556;
  opacity: 0;
}

/* <<<<<<<< END PORTFOLIO >>>>>>>> */

/* MODEL WINDOW */

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.hero-model-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  min-height: 581px;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  left: 490px;
  top: 8px;

  width: 30px;
  height: 30px;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: var(--black-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: var(--accent-color);
}

/* END MODAL WINDOW */

/* CONTACT FORM */

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-title {
  margin-top: 2px;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-massage {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-massage:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-massage::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.contact-form-label {
  margin-bottom: 4px;

  font-weight: var(--regular-font-weight);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form-input-wrapper {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);

  fill: var(--secondary-text-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-label-policy {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.modal-form-label-policy::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  background-image: url(../images/icons/Vector.svg);
  border-radius: 2px;

  transition-property: background-image, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check-policy:checked + .modal-form-label-policy::before {
  background-image: url(../images/icons/check.svg);
}

.modal-form-check-policy:focus + .modal-form-label-policy::before {
  box-shadow: 0 0 0 2px var(--accent-color);
}

.modal-form-label-policy {
  font-weight: var(--regular-font-weight);
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
}

.form-contract-link {
  color: var(--accent-color);
  margin-left: 5px;
}

.modal-form-button {
  align-self: center;
  min-width: 200px;
  min-height: 50px;

  letter-spacing: 0.06em;
  font-weight: var(--bold-font-weight);
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-white-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:focus,
.modal-form-button:hover {
  background-color: var(--secondary-accent-color);
}

/* END CONTACT FORM */
