.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 480px) {
    max-width: 450px;
  }
  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}
.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background: $secondary-background-color;
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;

  @include font(14px, $bold, 16px);
  text-align: center;
  text-transform: uppercase;
  color: $secondary-text-color;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__diskription {
  @include font();
  background-color: $primary-white-color;
  color: $primary-text-color;
}
