.features__item {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;

  background: $secondary-background-color;
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;

  @include font(14px, $bold, 16px);

  text-transform: uppercase;
  color: $secondary-text-color;
}

.features__diskription {
  @include font();
  background-color: $primary-white-color;
  color: $primary-text-color;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__item {
    width: 354px;
  }

  .features__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  .features__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features__item {
    width: 270px;
    margin-bottom: 0;
  }

  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}
