.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: center;
  background-color: $primary-background-color;
}

.address__list {
  margin-bottom: 60px;
}

.address__link {
  display: block;
  font-style: normal;
  @include font();
  color: $footer-adress-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $focus-accent-color;
  }
}

.address__link--white {
  color: $primary-white-color;
}

.footer__thumb {
  margin-bottom: 60px;
}

.subtitle {
  display: block;
  margin-bottom: 20px;

  @include font(14px, $bold, 16px);
  text-transform: uppercase;
  color: $primary-white-color;
}

.subscribe-form__input {
  width: 100%;
  max-height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px;

  @include font(16px, $normal, 20px);

  color: rgba(255, 255, 255, 1);
  background-color: $primary-background-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &::placeholder {
    @include font(16px, $normal, 20px);
    color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form__input {
    display: block;
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }

  .footer-contacts {
    margin-right: 70px;
  }
  .subscribe-email {
    margin-left: auto;
  }

  .subscribe-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subscribe-form__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }

  .social-links,
  .address {
    margin-bottom: 0;
  }
}
