.header {
  background-color: $primary-white-color;
  border: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    display: none;
  }

  .contacts {
    display: none;
  }

  .menu-btn {
    background-color: transparent;
    border: none;
    padding: 10px 0;

    &__icon {
      width: 40px;
      height: 40px;
      fill: $black-color;
    }
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;

    height: 100vh;
    padding: 48px 40px;
    background-color: $primary-white-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    transform: translateX(-50%) translateY(-100%);
    transition: transform 500ms linear;

    &.is-open {
      transform: translateX(-50%) translateY(0%);
    }

    &__btn {
      position: absolute;
      top: 10px;
      right: 15px;
      padding: 0;
      background-color: transparent;
      border: none;
      padding: 0;
    }

    &__icon {
      fill: $secondary-text-color;
    }
  }

  .mobile-contacts {
    padding-top: 302px;
  }

  .mobile-nav__item:not(:last-child),
  .mobile-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-nav__link {
    @include font(40px, $medium, 47px);
    letter-spacing: 0.02em;

    color: $secondary-text-color;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .mobile-contacts__link--tel {
    @include font(34px, $medium, 40px);
    letter-spacing: 0.02em;
    color: $accent-color;
  }

  .mobile-contacts__link--mail {
    @include font(28px, $medium, 24px);
    letter-spacing: 0.02em;
    color: $primary-text-color;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .site-nav {
    display: flex;
    align-items: center;
  }

  .site-nav__list {
    display: flex;
  }

  .site-nav__item {
    padding: 32px 0;

    & + & {
      margin-left: 50px;
    }
  }

  .site-nav__link {
    padding: 32px 0;

    @include font($fw: $medium, $lh: 16px);
    letter-spacing: 0.02em;
    color: $secondary-text-color;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  .site-nav__link--current {
    position: relative;
    padding: 32px 0;

    @include font($fw: $medium, $lh: 16px);
    letter-spacing: 0.02em;
    color: $accent-color;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1%;

      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
    }
  }

  .contacts__link {
    display: flex;
    align-items: center;
    width: 100%;

    @include font(12px, $medium, 14px);
    letter-spacing: 0.02em;
    color: $primary-text-color;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &--mail {
      padding-top: 21px;
    }

    &--tel {
      padding-bottom: 21px;
    }
  }

  .contacts__icon {
    margin-right: 8px;
    fill: $primary-text-color;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .contacts__link:hover &,
    .contacts__link:focus & {
      fill: $accent-color;
    }
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;

    &__item + &__item {
      margin-left: 30px;
    }
  }

  .contacts__link {
    padding: 32px 0;
  }
}
