.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
  text-align: center;

  background-image: linear-gradient(to right, $gradient-color, $gradient-color),
    url("../images/img-index/hero/img-mobile.jpg");
  background-color: $gradient-color;
}

.hero__title {
  margin: 0px auto 30px;
  max-width: 360px;
  @include font(26px, $black, 42px);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: $secondary-letter-spacing;
  color: $primary-white-color;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        $gradient-color,
        $gradient-color
      ),
      url("../images/img-index/hero/img-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    // background-color: $gradient-color;

    background-image: linear-gradient(
        to right,
        $gradient-color,
        $gradient-color
      ),
      url("../images/img-index/hero/img-tablet.jpg");
    background-color: $gradient-color;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-witdth: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(
          to right,
          $gradient-color,
          $gradient-color
        ),
        url("../images/img-index/hero/img-tablet@2x.jpg");
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    @include font(44px, $black, 60px);
    max-width: 696px;
  }

  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        to right,
        $gradient-color,
        $gradient-color
      ),
      url("../images/img-index/hero/img-desсtop.jpg");
    background-color: $gradient-color;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
      background-image: linear-gradient(
          to right,
          $gradient-color,
          $gradient-color
        ),
        url("../images/img-index/hero/img-desсtop@2x.jpg");
    }
  }
}
