.logo {
  display: block;
  font-family: Raleway, sans-serif;
  padding-top: 16px;
  padding-bottom: 16px;

  @include font(24px, $bold, 28px);
  color: $secondary-text-color;
}
.logo__name {
  color: $accent-color;
}

@media screen and (min-width: 768px) {
  .header .logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.footer .logo {
  color: $primary-white-color;
  padding-top: 0;
  padding-bottom: 0;
}
