.social-list {
  display: flex;

  .mobile-menu & {
    padding-top: 64px;
  }

  .mobile-menu &__item:not(:last-child) {
    margin-right: 20px;
  }

  .mobile-menu &__link {
    @include font(18, $medium, 22);
    letter-spacing: 0.02em;

    color: $accent-color;
  }
}
