$textFont: "Roboto", sans-serif;
$textLogotype: "Raleway", sans-serif;

$accentColor: #2196f3;

$textColor: #757575;
$textLightColor: #ffffff;
$logotypeDarkColor: #212121;
$logotypeLightColor: #ffffff;
$titleColor: #212121;

$backgroundLightColor: #ffffff;
$backgroundDarkColor: #2f303a;
$featuresBackgroundColor: #f5f4fa;
$teamBackgroundColor: #f5f4fa;

$iconsColor: #afb1b8;
$filterBtnColor: #f5f4fa;
$blackColor: #000000;
